SECRET_KEY=xxxxx
APP_TYPE=development
DEBUG=False
DATABASE_URL=postgres://...
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_HOST_USER=noreply@codeethos.com
EMAIL_HOST_PASSWORD=xxxxx
EMAIL_USE_SSL=True